extends layout.pug

block content
  <h1>Hello !</h1>

  <p>J'ai #{boroughsGroup.length} quartiers dans la base</p>

  <p>Voici les stats :</p>

  <ul>
  each group in boroughsGroup
    <li>Le quartier #{group._id} contient #{group.totalRestaurants} restaurants</li>
  </ul>

  <p>Cuisines :</p>
  each cuisine in cuisines
    <q>#{cuisine}</q>, 